/*****************************************************
 *                 FONTS                             *
 ****************************************************/
 @font-face{
	font-family: Roboto-Medium;
	src: url("/styles/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face{
	font-family: Roboto-Bold;
	src: url("/styles/fonts/Roboto/Roboto-Bold.ttf");
}

.background {
     -fx-background-color: #3C3E3B;
}

.background-principal{
	 -fx-background-image: url("/styles/img/eptus.png");
        -fx-background-repeat:no-repeat;        
        -fx-background-position: center center;
       /*  -fx-background-size: 102.0% 100%;*/
}
.label{
	-fx-font-family: Sans-Serif;
	-fx-font-size: 12px;
	-fx-font-style: Normal;	
	-fx-alignment: center-right;
	
}

#title-bar-form{
	-fx-background-color: #3C3E3B;
}

.bordered-titled-title {
  -fx-translate-x:  8;
  -fx-translate-y: -10;
  -fx-padding: 0 0 0 4;
  -fx-background-color: -fx-background;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 0 0 0 0;
  -fx-border-color: -fx-text-box-border;
  -fx-border-width: 2;

}

.bordered-titled-content {
  -fx-padding: 18 5 5 5;
}


/**********************************************************
 *                       COMPONENTS BASIC                 *
 *********************************************************/
.text-input{
	-fx-background-color: 
	linear-gradient(to bottom, derive(-fx-text-box-border, -10.0%),-fx-text-box-border),
    linear-gradient(from 0.0px 0.0px to 0.0px 5.0px, derive(-fx-control-inner-background, -9.0%), -fx-control-inner-background);
    -fx-padding: 5px;    
}


/*DatePicker */
.date-picker .cell:hover{
	-fx-background-color: #37474F;
}
.date-picker .month-year-pane{
	-fx-background-color: #37474F;
}.date-picker .month-year-pane .label{
	-fx-text-fill: white;
	-fx-text-alignment: center ;
}
.date-picker .month-year-pane .button{
	-fx-background-color: transparent ;
}.date-picker .month-year-pane .button .label{
	-fx-text-fill: white;
}
.date-picker-popup .month-year-pane{
	-fx-background-color: #37474F;
	-fx-text-fill: White;
}

/*RadioButton */
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #546E7A;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 4px;
}
/* Buttons */

.button{
/*	-fx-background-color: #1565C0;
	-fx-text-fill: White;
	-fx-border-style: none;	
	-fx-padding: 5px;*/
	
	-fx-background-color: transparent;
	
	
	
}.button:hover{
	/*-fx-effect: dropshadow(gaussian, #9E9E9E, 5, 0.2, 0px, 1px);	*/
	-fx-background-color: transparent ;	
	-fx-border-color: #424242;
	-fx-border-radius: 2 2 2 2;
}

.button .icons{
	-fx-fill: white ;
	
}

/**********************************************************
 *                       PROGRESS BAR                     *
 *********************************************************/
.progress-bar {
    -fx-background-color: white ;
    -fx-background-radius: 0;
 	-fx-max-height: 0.20em; 	
}
 
.progress-bar .track{
	
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
 
.progress-bar .bar { 
    -fx-background-color: #03A9F4;
    -fx-background-insets: 0; 
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-padding: 0.20em;
}

/*****************************************************
 *                 MENUS                             *
 ****************************************************/
.menu-bar{
	  /*-fx-background-color: linear-gradient(#546E7A 30%, #37474F 70%);*/
	     -fx-background-color: linear-gradient(#212121 30%, #212121 70%); 
	    /*-fx-background-color: linear-gradient(#303F9F 30%, #303F9F 70%);*/

}
.menu .label{
	-fx-font-family: Helvetica Neue;
	-fx-padding: 1px;	
	-fx-font-size: 14px; 
} 
.menu #iconsMenu{
	-fx-fill:white; 
} 
.menu-bar .menu{	
	-fx-border-color: transparent ;
	-fx-border-width: 0 0 3 0;
} 
.menu-bar .menu .label{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.menu-bar .menu:hover,.menu-bar .menu:showing{
	-fx-background: transparent;	
	-fx-border-color: #FAFAFA;
	-fx-border-width: 0 0 2 0;
}

.context-menu {
   -fx-background-color: #E5EBEE;
   -fx-opacity: 1;
}
.context-menu .menu .label, .context-menu .menu-item .label, .context-menu .menu .menu-item .label{
	-fx-font-family: Helvetica Neue;
	-fx-font-size: 12px;
	-fx-text-fill: White;
	-fx-font-style: normal;
	/*-fx-font-weight: bold;*/
}
.context-menu .menu, .context-menu .menu-item{	
	-fx-border-color: #E5EBEE;
	-fx-border-width: 0 0 0 0;
}.context-menu .menu:hover,.context-menu .menu:showing, .context-menu .menu:focused,
.context-menu .menu-item:hover, .context-menu .menu-item:showing, .context-menu .menu-item:focused{
	/*-fx-background: linear-gradient(#546E7A 30%, #37474F 70%);*/
	-fx-background: linear-gradient(#212121 30%, #212121 70%);
	-fx-border-color: #FAFAFA;
	-fx-border-width: 0 0 0 0;	
}.context-menu .menu .label, .context-menu .menu-item .label, .context-menu .menu .menu-item .label{
	-fx-text-fill: Black;
	-fx-font-weight: bold;
}.context-menu .menu:hover .label, .context-menu .menu:showing .label, .context-menu .menu:focused .label,
.context-menu .menu-item:hover .label, .context-menu .menu-item:showing .label, .context-menu .menu-item:focused .label,
.context-menu .menu .menu-item:hover .label, .context-menu .menu .menu-item:showing .label, .context-menu .menu .menu-item:focused .label
{
	-fx-text-fill: White;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}

/**********************************************************
 *                       TOOLBAR                          *
 *********************************************************/
 .tool-bar{
 	/*-fx-background-color:linear-gradient(#f6f8f9 0%, #E5EBEE 50%, #D7DEE3 51%, #f5f7f9 100%);*/
 	/*-fx-background-color:linear-gradient(#f6f8f9 0%, #E5EBEE 50%, #D7DEE3 51%, #f5f7f9 100%);
 	-fx-effect: dropshadow(two-pass-box, #BDBDBD, 2, 0.5, 2px, 1px);*/
 	/*-fx-background-color: #ddd;*/
 	-fx-padding: 1;
 	
 }
.tool-bar .button,.tool-bar .toggle-button{
	-fx-background-color: transparent ;
	-fx-border-color: transparent ;
	-fx-border-radius: 2.0 2.0 2.0 2.0;
	-fx-max-width: 30.0px;
	-fx-min-width: 30.0px;
	-fx-max-height: 24.0px;
	-fx-min-height: 24.0px;	 
}

.tool-bar .button:hover,.tool-bar .toggle-button:hover{
	-fx-background-color: transparent ;	
	/*-fx-border-color: #424242;*/
	-fx-border-radius: 2.0 2.0 2.0 2.0;	
}

.tool-bar .toggle-button:selected{
	-fx-background-color: transparent;
	-fx-border-color: #757575;
	-fx-border-radius: 2.0 2.0 2.0 2.0;
}
.tool-bar .button #icons,.tool-bar .toggle-button #icons{
	-fx-fill: #212121;
	-fx-size: 18px;
}.tool-bar .button:disabled #icons,.tool-bar .toggle-button:disabled #icons{
	-fx-fill: #9E9E9E;
	-fx-size: 18px;
}
.tool-bar .button:hover #icons,.tool-bar .toggle-button:hover #icons{
	-fx-fill: #757575;
	/*-fx-size: 15px;*/	
}
.tool-bar .button .tooltip,.tool-bar .toggle-button .tooltip{
	-fx-background-radius: 0;
	-fx-background-color: #3C3E3B;
	-fx-text-fill: WHITE;
	-fx-font-size: 12.0px;
}

.tool-bar .button{
	-fx-pref-height: 22px;
}
 
/**********************************************************
 *                       TABPANE                          *
 *********************************************************/
 /*#tab-pane-principal{
 	/*-fx-tab-max-height: 28px;
    -fx-tab-min-height: 28px; 
    -fx-tab-min-width: 90px;
    -fx-tab-max-width: 90px;*/
      
/* }
#tab-pane-principal > .tab-header-area > .tab-header-background{ 	
 	-fx-background-color: #F5F5F5;
 	  -fx-border-color: #9E9E9E; 	
 	-fx-border-width: 0 0 1 0;
 	
 }
#tab-pane-principal .tab{
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; 
    -fx-background-color: #E0E0E0;
	-fx-border-color: #BDBDBD;
	-fx-border-width: 1 1 0 1;
    
}
#tab-pane-principal .tab:hover{
	-fx-background-color:#FAFAFA;
}#tab-pane-principal .tab:selected{	
	-fx-background-color:  #3C3E3B;
	-fx-tab-max-height: 28px;
    -fx-tab-min-height: 28px; 
    -fx-tab-min-width: 90px;  
	
}
#tab-pane-principal .tab .tab-label{
	-fx-alignment: center ;
 	-fx-text-fill: Black;
 	-fx-font-size: 12px;
 	-fx-font-weight: bold;
 	-fx-padding: 0 1 0 1;
 	-fx-tab-max-width: 100%;
}
#tab-pane-principal .tab:selected .tab-label{
	-fx-alignment: center ;
 	-fx-text-fill: white;
 	-fx-padding: 0 1 0 1; 	 	
}
#tab-pane-principal .tab-content-area{
	-fx-background-color: #ddd;
	-fx-opacity: 1;
	-fx-border-color: #BDBDBD;
 	-fx-border-width: 0 2 2 2;
} 
#tab-pane-principal .tab-close-button{
	-fx-background-color: #BDBDBD;
}#tab-pane-principal .tab-close-button:hover{
	-fx-background-color: white;
}*/
/**** TABPANE HORIZONTAL *****/
/*#tabPane-horizontal {	
	-fx-tab-min-width: 15px;
	-fx-tab-max-width: 15px;
}

#stpTab{
	-fx-rotate: 90;
	-fx-alignment: center;
	-fx-min-height: 100%;
	-fx-max-height: 100%;
	-fx-min-width: 100%;
	-fx-max-width: 100%;	
}
#tabPane-horizontal .tab .label{
	-fx-padding: 2;
	-fx-text-alignment: center;
	-fx-text-fill: black;	
}
#tabPane-horizontal .tab:selected .label{
	-fx-padding: 2;
	-fx-text-alignment: center;
	-fx-text-fill: white;	
}*/

.background-principal{
	 -fx-background-image: url("/styles/img/eptus.png");
        -fx-background-repeat:no-repeat;        
        -fx-background-position: center center;
 }
 
 
 .tab-pane{
 	 	
 }
 .tab-pane > .tab-header-area > .tab-header-background{
 	-fx-background-color: linear-gradient(#BDBDBD 30%, #BDBDBD 70%);
 }
 
 #tabVertical .tab-label{
 	
 

	
}
#tabVertical .tab{

-fx-rotate: 90;
-fx-fit-to-width: 100;
-fx-tab-max-width: 100;

    
 }
 

 
.tab{
	-fx-background-color: #EEEEEE;
	-fx-padding: 3px;
	-fx-border-color: transparent ;
	-fx-border-width: 0 0 2 0;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
 .tab:hover{
	-fx-background-color:#FAFAFA;
}.tab:selected{
	
	-fx-background-color:  #3C3E3B;  
	-fx-border-color: white ;
	-fx-border-width: 0 0 2 0;
}
.tab .tab-label{
	-fx-alignment: center ;
 	-fx-text-fill: Black;
 	-fx-font-size: 12px;
 	-fx-font-weight: bold;
 	-fx-padding: 0 2 0 2;
 	
}.tab:selected .tab-label{
	-fx-alignment: center ;
 	-fx-text-fill: white;
 	-fx-padding: 0 2 0 2; 	 	
}
.tab-content-area{
	-fx-background-color: #546E7A;
	-fx-opacity: 1;
	-fx-border-color: #BDBDBD;
 	-fx-border-width: 0 2 2 2;
} 
 .tab-close-button{
	-fx-background-color: #BDBDBD;
}.tab-close-button:hover{
	-fx-background-color: white;
}

#stpTab{
	-fx-rotate: 90;
	-fx-alignment: center;
	-fx-min-height: 100%;
	-fx-max-height: 100%;
	-fx-min-width: 100%;
	-fx-max-width: 100%;
	
}

#tabPane-horizontal .tab .label{
	-fx-padding: 2;
	-fx-text-alignment: center;
	-fx-text-fill: black;	
}

#tabPane-horizontal .tab:selected .label{
	-fx-padding: 2;
	-fx-text-alignment: center;
	-fx-text-fill: white;	
}

#tabPane-horizontal {		
	-fx-tab-min-height: 50px;
	/*-fx-tab-max-height: 50px;*/
	
	-fx-tab-min-width: 20px;
	-fx-tab-max-width:  20px;
}




/**********************************************************
 *                       PANE BOTTOM                      *
 *********************************************************/
 .pane-bottom{
 	/*-fx-background-color:linear-gradient( #3C3E3B 0%, #3C3E3B 50%, #3C3E3B 75%, #3C3E3B 100%);*/
 	/*-fx-effect: dropshadow(two-pass-box, #BDBDBD, 1, 0.5, 2px, 1px);*/ 
 	-fx-background-color: #3C3E3B;
 	/*-fx-padding: 2px;
 	-fx-border-color: #BDBDBD;
 	-fx-border-width: 2 1 1 1;*/
 }
 
 /**********************************************************
 *                       FORMULARIOS                       *
 **********************************************************/
 .title-label{
	
	-fx-font-size: 12.0px;
	-fx-font-weight: bold;
}
.title-help{
	-fx-font-size: 10.0px;
	-fx-font-weight: bold;
	
}
 #border-pane{	
	-fx-border-width: 1.0;
	-fx-border-color: #B0BEC5;	
}

/*Label */
.label-form {
	-fx-text-fill: black ;
	-fx-font-size: 12.0px;
}
 /**********************************************************
 *                       TOOLBAR  FORM                     *
 **********************************************************/
 /*.tool-bar-form{
 	-fx-background-color:linear-gradient(#f6f8f9 0.0%, #E5EBEE 50.0%, #D7DEE3 51.0%, #f5f7f9 100.0%);
}
.tool-bar-form .button{
	-fx-pref-height: 22px;
}

.tool-bar-form .button .tooltip{
	-fx-background-color: white;
	-fx-text-fill: Black;
}.tool-bar-form .button .tooltip .label{	
	-fx-text-fill: Black;
}

.tool-bar-form .button #icons{
	-fx-fill:  #37474F;
	-fx-size: 15px ;
} */

/**********************************************************
 *                    TAB PANE FORM                        *
 **********************************************************/
#tab-pane-form{
  -fx-padding: 1.0px;
 	-fx-opacity: 1.0;
 	-fx-open-tab-animation: grow ;
 	

 	
 }
 #tab-pane-form > .tab-header-area > .tab-header-background{
 	-fx-background-color: linear-gradient(#E0E0E0 30.0%, #BDBDBD 70.0%);
 	-fx-pref-height: 26px; 
 
 	
 }
  

 .tab-pane-form .tab{
	-fx-background-color: White;
	-fx-padding: 1px;
}.tab-pane-form .tab:hover{
	-fx-background-color:#FAFAFA;
}.tab-pane-form .tab:selected{
	-fx-background-color: #546E7A;           
       
}
.tab:selected .tab-label{
	-fx-alignment: center-left ;
 	-fx-text-fill: White;
 	-fx-font-size: 12.0px;
 }.tab:focused .tab-label{
 	-fx-border-color: transparent ;
 }
.tab-content-area{
-fx-background-color: #EEEEEE;
	-fx-border-color: #BDBDBD;
 	-fx-border-width: 0.0 2.0 2.0 2.0;
} 
 .tab-close-button{
	-fx-background-color: #BDBDBD;
}.tab-close-button:hover{
	-fx-background-color: #01579B;
}


/*............. Tabelas .............*/

.table-view {
    -fx-background-color: #e8e8e8, -fx-control-inner-background;
    -fx-background-insets: 0px, 1px;
    -fx-padding: 1px;
}

 /**********************************************************
 *                       TABLEVIEW                         *
 **********************************************************/

.table-view *.column-header-background {
    -fx-background-color: #3C3E3B;
    -fx-background-insets: 0px, 1px;
    -fx-border-color: #ddd;
    -fx-border-width: 0 1 2 1;
}

.table-view *.column-header {
    -fx-background-color: #3C3E3B;
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 0 0;
    -fx-background-insets: 0 1 0 0;
    -fx-border-insets: 8 0;
    -fx-padding: 1em 0em 1em 1em;
    -fx-pref-height: 32;
    -fx-cursor: hand;
}

.table-view *.column-header *.label {
    -fx-alignment: center;
    -fx-font-size: 12px;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: 700;
}

.table-view *.filler {
    -fx-background-color: #3C3E3B;    
    -fx-padding: 0.166667em;
    -fx-background-insets: 0px, 0px 0px 0px 0px, 0px 1px 0px 1px;
}

.table-view > *.column-header-background > *.show-hide-columns-button {
    -fx-background-color: transparent, #f4f4f4, #f4f4f4;
    -fx-padding: 0.166667em;
    -fx-background-insets: 0px, 0px 0px 0px 1px, 1px 33px 0px 0px;
}

.table-view *.show-hide-column-image {
    -fx-background-color: #555;
    -fx-padding: 0.25em;
}

.table-view *.column-drag-header {
    -fx-background-color: #96c440;
    -fx-border-color: #96c440;
    -fx-opacity: 0.6px;
}


.table-row-cell:empty {
    -fx-background-color: null;    
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


