/*****************************************************
 *                 FONTS                             *
 ****************************************************/
 @font-face{
	font-family: Roboto-Medium;
	src: url("/styles/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face{
	font-family: Roboto-Bold;
	src: url("/styles/fonts/Roboto/Roboto-Bold.ttf");
}

.background {
  /* -fx-background-image: url("/styles/img/1.png");
   -fx-background-repeat:no-repeat;        
   -fx-background-position: center center;
   -fx-background-size: 102.0% 93.0%;*/
   -fx-background-color: #546E7A;
   
}
.label{
	-fx-font-family: Sans-Serif;
	-fx-font-size: 12.0px;
	-fx-font-style: Normal;	
	-fx-alignment: center-right;
	
}

/**********************************************************
 *                       COMPONENTS BASIC                 *
 *********************************************************/
.text-input{
	-fx-background-color: 
	linear-gradient(to bottom, derive(-fx-text-box-border, -10.0%),-fx-text-box-border),
    linear-gradient(from 0.0px 0.0px to 0.0px 5.0px, derive(-fx-control-inner-background, -9.0%), -fx-control-inner-background);
    -fx-padding: 5.0px;
}

/*DatePicker */
.date-picker .cell:hover{
	-fx-background-color: #37474F;
}
.date-picker .month-year-pane{
	-fx-background-color: #37474F;
}.date-picker .month-year-pane .label{
	-fx-text-fill: white;
	-fx-text-alignment: center ;
}
.date-picker .month-year-pane .button{
	-fx-background-color: transparent ;
}.date-picker .month-year-pane .button .label{
	-fx-text-fill: white;
}
.date-picker-popup .month-year-pane{
	-fx-background-color: #37474F;
	-fx-text-fill: White;
}

/*RadioButton */
.radio-button .radio {
    -fx-border-width: 1.0px;
    -fx-border-color: #546E7A;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15.0px;
    -fx-padding: 3.0px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15.0px;
    -fx-padding: 4.0px;
}
.button{
	-fx-background-color: #546E7A;
	-fx-text-fill: White;
	-fx-border-style: none;	
	-fx-padding: 5.0px;
	
}.button:hover{
	-fx-effect: dropshadow(gaussian, #9E9E9E, 5.0, 0.2, 0.0px, 1.0px);	
}

.button .icons{
	-fx-fill: white ;
	
}


/*****************************************************
 *                 MENUS                             *
 ****************************************************/
.menu-bar{
	  -fx-background-color: linear-gradient(#546E7A 30.0%, #37474F 70.0%);

}
.menu .label{
	-fx-padding: 1.0px;	
	-fx-font-size: 12.0px; 
} 
.menu-bar .menu{	
	-fx-border-color: transparent ;
	-fx-border-width: 0.0 0.0 3.0 0.0;
} 
.menu-bar .menu .label{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.menu-bar .menu:hover,.menu-bar .menu:showing{
	-fx-background: transparent;	
	-fx-border-color: #FAFAFA;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.context-menu {
   -fx-background-color: #E5EBEE;
   -fx-opacity: 1.0;
}
.context-menu .menu .label, .context-menu .menu-item .label, .context-menu .menu .menu-item .label{
	-fx-text-fill: White;
	-fx-font-style: normal;
	-fx-font-weight: bold;
}
.context-menu .menu, .context-menu .menu-item{	
	-fx-border-color: #E5EBEE;
	-fx-border-width: 0.0 0.0 0.0 0.0;
}.context-menu .menu:hover,.context-menu .menu:showing, .context-menu .menu:focused,
.context-menu .menu-item:hover, .context-menu .menu-item:showing, .context-menu .menu-item:focused{
	-fx-background: linear-gradient(#546E7A 30.0%, #37474F 70.0%);
	-fx-border-color: #FAFAFA;
	-fx-border-width: 0.0 0.0 0.0 0.0;	
}.context-menu .menu .label, .context-menu .menu-item .label, .context-menu .menu .menu-item .label{
	-fx-text-fill: Black;
	-fx-font-weight: bold;
}.context-menu .menu:hover .label, .context-menu .menu:showing .label, .context-menu .menu:focused .label,
.context-menu .menu-item:hover .label, .context-menu .menu-item:showing .label, .context-menu .menu-item:focused .label,
.context-menu .menu .menu-item:hover .label, .context-menu .menu .menu-item:showing .label, .context-menu .menu .menu-item:focused .label
{
	-fx-text-fill: White;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}

/**********************************************************
 *                       TOOLBAR                          *
 *********************************************************/
 .tool-bar{
 	-fx-background-color:linear-gradient(#f6f8f9 0.0%, #E5EBEE 50.0%, #D7DEE3 51.0%, #f5f7f9 100.0%);
 	-fx-effect: dropshadow(two-pass-box, #BDBDBD, 2.0, 0.5, 3.0px, 1.0px);
 	-fx-padding: 1.0;
 	
 }
.tool-bar .button{
	-fx-background-color: transparent ;
	-fx-border-color: transparent ;
	
}.tool-bar .button:hover{
	-fx-background-color: transparent ;	
	-fx-border-color: linear-gradient(#546E7A 30.0%, #37474F 70.0%);
	-fx-border-radius: 2.0 2.0 2.0 2.0;
	
}

.tool-bar .button #icons{
	-fx-fill:  #37474F;
}
.tool-bar .button .tooltip{
	-fx-background-color: #37474F;
	-fx-text-fill: white;
	-fx-font-size: 10.0px;
}


/*.toolBarBtnIcon{
	-fx-fill:  #37474F;
} */ 
 
/**********************************************************
 *                       TABPANE                          *
 *********************************************************/
 .tab-pane{
 	-fx-padding: 4.0; 	
 }
 .tab-pane > .tab-header-area > .tab-header-background{
 	/*-fx-background-color: linear-gradient(#E0E0E0 30.0%, #BDBDBD 70.0%);*/
 }
 
.tab{
	-fx-background-color: #EEEEEE;
	-fx-padding: 4.0px;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
 .tab:hover{
	-fx-background-color:#FAFAFA;
}.tab:selected{
	-fx-background-color: #546E7A;           
    /*-fx-border-color:#01579B; 
    -fx-border-width: 0 0 3 0;*/
}
.tab .tab-label{
	-fx-alignment: center ;
 	-fx-text-fill: Black;
 	-fx-font-size: 12.0px;
 	-fx-font-weight: bold;
 	
}.tab:selected .tab-label{
	-fx-alignment: center ;
 	-fx-text-fill: white; 	 	
}
.tab-content-area{
	-fx-background-color: #546E7A;
	-fx-opacity: 1.0;
	-fx-border-color: #BDBDBD;
 	-fx-border-width: 0.0 2.0 2.0 2.0;
} 
 .tab-close-button{
	-fx-background-color: #BDBDBD;
}.tab-close-button:hover{
	-fx-background-color: white;
} 
.background-principal{
	 	-fx-background-image: url("/styles/img/1.png");
        -fx-background-repeat:no-repeat;        
        -fx-background-position: center center;
        -fx-background-size: 102.0% 100.0%;
}
/**********************************************************
 *                       PANE BOTTOM                      *
 *********************************************************/
 .pane-bottom{
 	-fx-background-color:linear-gradient(#f6f8f9 0.0%, #E5EBEE 50.0%, #D7DEE3 75.0%, #f5f7f9 100.0%);
 	/*-fx-effect: dropshadow(two-pass-box, #BDBDBD, 1, 0.5, 2px, 1px);*/ 
 	-fx-padding: 2.0px;
 	-fx-border-color: #BDBDBD;
 	-fx-border-width: 2.0 1.0 1.0 1.0;
 }
 

 